<ActionBar  class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Buscar"></Label>
</ActionBar>

<StackLayout class="page__content" #layout>
    <Label class="page__content-icon fas" text="&#xf002;"></Label>

    <SearchForm (search)="buscarAhora($event)" [inicial]="'Vale'"></SearchForm>
        <PullToRefresh (refresh)="onPull($event)">
            <ListView class="list-group" [items]="this.resultados" (itemTap)="onItemTap($event)"
            style="height: 1250px">
                <ng-template let-x="item">
                    <FlexBoxLayout flexDirection="row" class="list-group-item">
                        <Image src="res://icon" class="thumb img-circle" style="width: 25%"></Image>
                        <Label class="texto" [text]="x" class="list-group-item-heading" style="width: 100%"> </Label>
                        <span></span>
                        <Button class="-primary" (tap)="setFavorite(x)">
                            <FormattedString>
                                <Span text="&#xf099;" fontFamily="Ionicons"></Span>
                                <Span text=" Button.-primary with icon"></Span>
                            </FormattedString>
                        </Button>
                        <Button text="Borrar" class="btn" (tap)="onDelete(x)" style="width: 25%"></Button>
                        <Button text="Detalle" class="btn" (tap)="onDetalle(x)" style="width: 25%"></Button>
                        <Image src="res://icon" class="thumb img-circle" (longPress)="onLongPress(x)" style="width: 25%"></Image>
                        <label [text]="x" class="list-group-item-heading" verticalAlignament="center" style="width: 60%"></label>
                    </FlexBoxLayout>
                </ng-template>
            </ListView>
        </PullToRefresh>
</StackLayout>
<opiniones></opiniones>