    <ActionBar class="action-bar" title="Featured 1" icon="">
      <NavigationButton visibility="collapsed"></NavigationButton>

      <!-- Using the icon property and Icon Fonts -->
      <ActionItem position="right" android.systemIcon="ic_menu_back" class="fas" (tap)="goBack()"></ActionItem>

      <ActionItem position="left" icon="res://menu" class="fas" (tap)="onDrawerButtonTap()"></ActionItem>
    </ActionBar>
    
    <StackLayout>   
        <Label class="page-icon fa" text="&#xf007;"></Label>
        <Label class="page-placeholder" text="<!-- Pagina de funcionalidad  1 -->"></Label>
    </StackLayout>

    <StackLayout>
        <Button text="Ir a funcionalidad 2" class="btn btn-primary" (tap)="onDrawerButtonClick()"></Button>
    </StackLayout>
    
